*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #8f857D;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    margin-top:4px;
    border-radius: 6%;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4) ;
    font-size:8vmin;
    background-color: #ffffc7;
    color:black
}
#reset{
   padding:0.5rem;
   font-size:1.25rem;
   border-radius:1rem;
   background-color: #DECBB7;
}
#new-game{
    padding:1rem;
   font-size:1.25rem;
   border-radius:1rem;
   background-color: #DECBB7;
}
#msg{
    font-size: 5vmin;
}
.msg-container{
    height:20vmin;
}
.hide{
    display:none;
}